<div class="card">
    <div class="card-image-area">
        <div class="card-image">
            <div class="top-block">
                <div class="rating">
                    8,5/10
                </div>
                <div class="discount">
                    -55%
                </div>
            </div>

            <div class="bot-block">
                <div class="rating-star">
                    <div class="fstar"></div>
                    <div class="fstar"></div>
                    <div class="fstar"></div>
                    <div class="estar"></div>
                    <div class="estar"></div>
                </div>
                <div class="card-title">
                    BE LIVE COLLECTION CANOA LIVE  COLLECTION CANOA 4*
                </div>
                <div class="destination">
                    Турция, Кемер, 3 линия
                </div>
            </div>
            
        </div>
        <div class="recommend">
            <div class="thumbup"></div>
            <div class="text">РЕКОМЕНДУЕМ</div>
        </div>
        <div class="days-info">
            <div class="days-range">
                7 - 14 ночей
            </div>
            <div class="flight-range">
                Вылеты 26 фев — 04 мар из Алматы
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="bot-card">
        <div class="price">
            <div class="full-price">
                <span class="people-option">
                    <a href="#">2 взр и 3 реб</a> <div class="people-option-icon"></div>
                </span>
                <span class="price-from">
                    от 2 958 944 ₸ 
                </span>
            </div>
            <div class="price-loan">
                <div class="per-month-price">
                    458 944 ₸ 
                </div>
                <div class="months-number">
                    x 24 мес
                </div>
            </div>
        </div>
        <button class="btn btn-show-tours">
            <span class="text">Показать туры (55)</span>
        </button>
    </div>
 
</div>


  


