<div class="container">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
    <div class="menu">
        <div class="menu-item">
            <div class="icon-search"></div>
            <span class="title">
                поиск
            </span>
            <span class="details">по отелю</span>
        </div>
        <div class="menu-item">
            <div class="icon-filter"></div>
            <span class="title">
                фильтры
            </span>
            <span class="details">не выбрано</span>
        </div>
        <div class="menu-item">
            <div class="icon-sort"></div>
            <span class="title">
                сортировка
            </span>
            <span class="details">сначала дешевле</span>
        </div>
    </div>    
</div>

