.container {
    min-width: 360px;
    max-width: 744px;
    margin: 0 auto;
}
.wrapper {
    background: #ffffff;
    padding: 11px;
}
.menu {
    background: hsl(215, 91%, 44%);
    height: 150px;
    display: flex;
    flex-direction: row;
    font-family: "Gotham Pro";
    .menu-item {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        .title {
                font-size: 24px;
                color: rgba(255, 255, 255, 0.988);
                text-transform: uppercase;
                margin-top: 16px;
                //line-height: 1.542;
                text-indent: 2.992px;
        }
        .details {
                font-size: 19px;
                color: rgba(255, 255, 255, 0.6);
                //line-height: 1.947;
                text-indent: 2.992px;
        }
        
    }
}

.icon-search {
    width: 47px;
    height: 47px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='47px' height='47px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M20.111,0.000 C31.201,0.000 40.223,9.022 40.223,20.111 C40.223,24.516 38.798,28.594 36.386,31.910 L46.075,41.598 C47.310,42.833 47.310,44.837 46.075,46.073 C45.457,46.691 44.647,47.000 43.837,47.000 C43.028,47.000 42.218,46.691 41.600,46.073 L31.911,36.385 C28.594,38.796 24.516,40.221 20.111,40.221 L20.111,40.221 C9.022,40.221 -0.000,31.199 -0.000,20.110 C-0.000,9.021 9.022,0.000 20.111,0.000 L20.111,0.000 ZM20.111,33.893 C27.711,33.892 33.894,27.710 33.894,20.111 C33.894,12.511 27.711,6.329 20.111,6.329 C12.512,6.329 6.329,12.511 6.329,20.110 C6.329,27.710 12.512,33.892 20.111,33.893 L20.111,33.893 Z'/%3E%3C/svg%3E");
}
.icon-filter {
    width: 47px;
    height: 47px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='47px' height='47px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M42.714,38.455 L42.714,47.001 L38.442,47.001 L38.442,38.455 L34.170,38.455 L34.170,25.635 L38.442,25.635 L38.442,-0.004 L42.714,-0.004 L42.714,25.635 L46.986,25.635 L46.986,38.455 L42.714,38.455 ZM42.714,29.908 L38.442,29.908 L38.442,34.181 L42.714,34.181 L42.714,29.908 ZM25.626,47.001 L21.354,47.001 L21.354,21.362 L17.082,21.362 L17.082,8.543 L21.354,8.543 L21.354,-0.004 L25.626,-0.004 L25.626,8.543 L29.898,8.543 L29.898,21.362 L25.626,21.362 L25.626,47.001 ZM25.626,12.816 L21.354,12.816 L21.354,17.089 L25.626,17.089 L25.626,12.816 ZM8.538,47.001 L4.267,47.001 L4.267,38.455 L-0.006,38.455 L-0.006,25.635 L4.267,25.635 L4.267,-0.004 L8.538,-0.004 L8.538,25.635 L12.810,25.635 L12.810,38.455 L8.538,38.455 L8.538,47.001 ZM8.538,29.908 L4.267,29.908 L4.267,34.181 L8.538,34.181 L8.538,29.908 Z'/%3E%3C/svg%3E");
}
.icon-sort {
    width: 47px;
    height: 47px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='46px' height='47px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M45.768,46.764 C45.611,46.921 45.411,47.000 45.167,47.000 L23.429,47.000 C23.185,47.000 22.985,46.921 22.828,46.764 C22.671,46.606 22.593,46.406 22.593,46.161 L22.593,41.125 C22.593,40.880 22.671,40.679 22.828,40.522 C22.985,40.364 23.185,40.286 23.429,40.286 L45.167,40.286 C45.411,40.286 45.611,40.364 45.768,40.522 C45.925,40.679 46.003,40.880 46.003,41.125 L46.003,46.161 C46.003,46.406 45.925,46.606 45.768,46.764 ZM40.150,33.571 L23.428,33.571 C23.184,33.571 22.984,33.493 22.827,33.335 C22.671,33.178 22.592,32.977 22.592,32.733 L22.592,27.696 C22.592,27.452 22.671,27.250 22.827,27.093 C22.984,26.936 23.184,26.857 23.428,26.857 L40.150,26.857 C40.394,26.857 40.594,26.936 40.752,27.093 C40.908,27.250 40.987,27.452 40.987,27.696 L40.987,32.733 C40.987,32.977 40.908,33.178 40.752,33.335 C40.594,33.493 40.394,33.571 40.150,33.571 ZM35.134,20.143 L23.428,20.143 C23.184,20.143 22.984,20.064 22.827,19.907 C22.671,19.750 22.592,19.549 22.592,19.304 L22.592,14.268 C22.592,14.023 22.671,13.822 22.827,13.665 C22.984,13.507 23.184,13.429 23.428,13.429 L35.134,13.429 C35.377,13.429 35.578,13.508 35.734,13.665 C35.891,13.822 35.970,14.023 35.970,14.268 L35.970,19.304 C35.970,19.549 35.891,19.750 35.734,19.907 C35.578,20.065 35.377,20.143 35.134,20.143 ZM30.117,6.714 L23.429,6.714 C23.185,6.714 22.985,6.635 22.828,6.478 C22.671,6.321 22.593,6.120 22.593,5.875 L22.593,0.839 C22.593,0.595 22.671,0.393 22.828,0.236 C22.985,0.079 23.185,0.000 23.429,0.000 L30.117,0.000 C30.361,0.000 30.562,0.079 30.718,0.236 C30.875,0.393 30.953,0.595 30.953,0.839 L30.953,5.875 C30.953,6.120 30.875,6.321 30.718,6.478 C30.562,6.636 30.361,6.714 30.117,6.714 ZM9.815,46.764 C9.641,46.921 9.441,47.000 9.214,47.000 C9.005,47.000 8.805,46.921 8.613,46.764 L0.252,38.371 C-0.009,38.091 -0.070,37.785 0.070,37.453 C0.209,37.103 0.471,36.928 0.854,36.928 L5.870,36.928 L5.870,0.839 C5.870,0.595 5.949,0.393 6.105,0.236 C6.262,0.079 6.463,0.000 6.706,0.000 L11.723,0.000 C11.967,0.000 12.167,0.079 12.324,0.236 C12.481,0.393 12.559,0.595 12.559,0.839 L12.559,36.928 L17.576,36.928 C17.820,36.928 18.020,37.007 18.177,37.164 C18.333,37.322 18.412,37.523 18.412,37.769 C18.412,37.977 18.325,38.188 18.150,38.397 L9.815,46.764 Z'/%3E%3C/svg%3E");
}
.line {
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    position: absolute;
    left: 248px;
    top: 908px;
    width: 2px;
    height: 173px;
    z-index: 6;
  }
  